.footer {
  line-height: 20vh;
  text-align: center;
  height: 20vh;
  font-size: 18px;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  color: #333333;
  background: rgb(245 245 245);
}
